*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    color: #fff;
    font-family: serif;
    font-size: 1.4rem;
    /* padding: 20px; */
    display: flex;
    justify-content : center;
    align-items: center;
}

.main{
    width: 500px;
    height: 100vh;
    border: 3px solid #fff;
    display: flex;
    justify-content : center;
    align-items: center;
    flex-direction : column;
}

.clock{
    width: 150px;
    height: 50px;
    background-color: crimson;
    padding: 12px 15px 15px 17px;
    margin: 50px;
    border-radius: 50px;
}